.footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    background-color: black;
    font-family: 'Daisywheel';
    color: white;
    padding: 2%;
}

.text-links {
    display: flex;
    /* border: 2px red solid; */
}

.icons {
    display: flex;
}

.icon {
    margin-right: 2%;
}

.link {
    margin-right: 2%;
}