.navbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-family: 'DaisyWheel';
    padding: 2%;
}

.logo {
    width: 5%;
    /* border: brown solid 2px; */
}

.hamburger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color:black; */
    color: white;
    border-radius: 50%;
    /* border:red solid 2px; */
}

.hamburger-menu:hover {
   opacity: 0.5;
}

/* https://codepen.io/mikegolus/pen/Jegvym
https://codepen.io/adamabundis/pen/PoYgvYQ */

